<p> Welcome to Wordgates! </p> <br>

<p> 
	Thank you for trying us out. As promised we will generate your Wordgates
	site within the next 24 hours and let you know when it's done and quality-checked. 
 </p>

 <p> All the Best, </p> <br>
 <p> Johannes - CTO @ Wordgates </p>

