<p> Welcome to Wordgates! </p>

<p> This is Johannes writing. I am the CTO here at Wordgates. </p>

<p> 
As promised we will generate your Wordgates site within the
next 24 hours and let you know when it's ready and quality-checked.
</p>

<br>
<p> Thank you & All the Best, </p>
<p> Johannes </p>
<p> p.s. Feel free to respond directly here with any questions you may have. </p>
