<p> Welcome to Wordgates! </p>
<p> Thank you for trying us out. </p>

<p> We will generate your site within the
next 24 hours and let you know when it's ready.
</p>

<br>
<p> All the Best, </p>
<p> Johannes, CTO @ Wordgates </p>

<!--
<p> p.s. Feel free to respond directly. We have a firm "no no-contact" policy.</p>
-->