<p> Welcome to Wordgates! </p>

<p> This is Johannes writing. I am the CTO at Wordgates. </p>

<p> 
As promised we will generate your Wordgates site within the
next 24 hours and let you know when it's ready and quality-checked.
</p>

<br>
<p> All the Best, </p>
<p> Johannes, CTO @ Wordgates </p>
<p> p.s. Feel free to respond directly with any questions you may have. </p>


<!--
<p> p.s. Feel free to respond directly. We have a firm "no no-contact" policy.</p>
-->