<h1> Thank you <%= @first_name %> for trying MYN! </h1>
<p> 
	Your account is all set up and ready to be used if you like. <br>
	We hope you enjoy! If you'd like to reach us for questions, feedback or anything else <br>
	simply reply to this Email.
	<br>
	All the Best, <br>
	Team MYN
</p>