<h3> Thank you <%= @first_name %> for trying MYN! </h3>
<p> 
	Your account is set up and ready to be used if you like. <br>
	We hope you enjoy! <br> 
	If you need to reach us simply reply to this Email. (no-no-reply here!)
	<br> <br>
	All the Best, <br>
	Oleg & Johannes
</p>