<p>hi</p>
<%= @user %>
<br>
<pre><%= @request.to_yaml %></pre>



      t.string :provider
      t.string :name
      t.string :first_name
      t.string :last_name
      t.string :email
      t.string :location
      t.string :country_code
      t.string :description
      t.string :image_url
      t.string :profile_url
