
<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
  <a href="#" class="brand w-nav-brand">
    <div class="logo-design">mind your network</div>
  </a>
  <nav role="navigation" class="nav-menu w-nav-menu">
		<a href="#" class="nav-link w-nav-link">Contacts</a>
		<a href="#" class="nav-link w-nav-link"><%= link_to 'Log Out', logout_path, method: :delete %></a>
	</nav>
  <div class="w-nav-button">
    <div class="w-icon-nav-menu"></div>
  </div>
</div>

<h1> Reminders </h1>
<% @all_reminders.each do |reminder| %>
	<p>
		Remind - <%= reminder.user.name %> -
		to be in touch with - <%= reminder.content %> -
		on - <%= reminder.date %>
	</p>
<% end %>
