<h3 id="lesson_title"> Setup - How we Write and Execute Programs </h3>

<p>
Normally the way to write and execute a program on your computer 
is to create a program file, write code
into the file and finally instruct your operating system and thereby your computer 
to execute the code in that program file. To do these things we usually use what's called a Text editor.
There are different Text Editors around that are in common use. Sublime-Text and Atom would be two examples.
Older and more complex one's would include Vim and Emacs. All of these you can google, download from their
respective websites and install on your computer. For our humble beginnings I recommend Sublime Text.
<br> <br>

However, to make our start as quick and smooth as possible, we are going to defer this setup to later when
we want to start actual work on our first real programming project. Until then, for learning the basics, we're going to use a website called Repl.it. Repl.it essentially simulates a development environment in your browser on a website. There is a space where you can write code, a button to execute that code and a space where the results of that code will be shown should you run it. 
<br> <br>

Using Repl.it will also, and that is important, allow us to work together on the same program - in the same way that two people may work together on the same GoogleDoc for instance. Thus, the next lesson will be a brief video tutorial to show you how to use Repl.it for our purposes.

<!--
I will go through how to use Repl.it in a little more detail in our first 1-on-1 lesson (assuming we haven't already had it).
--> 

</p>
