<h3 id="lesson_title"> Recap </h3>
<p>
	Computers can execute programmes. <br> <br>
	You can use programming languages to write programmes. <br> <br>
	You can make your computer execute the programmes youve written. <br> <br>
	You use programmming langues to write programmes. <br> <br>
	There are many programming languages. Python is one. We use Python.
</p>
