
<p>
	Python programming - 4 - Recap <br> <br>
	- computers can execute programmes <br>
	- you can use programming languages to write programmes <br>
	- you can make your computer execute the programmes youve written <br>
	- you use programmming langues to write programmes. There are many. Python is one. We use Python.
</p>
