<h3 id="lesson_title"> Setup - How to Write and Execute Programs </h3>

<p>
Normally the way to write and execute a program on your computer
is to create a program file, write code (of a certain programming language - Python or otherwise)
into the file and finally instruct your Operating system and thereby your computer (the literal machine) 
to execute 

To create a program file and write into it, we commonly use what's called a "Text editor"

- general procedure of writing code -- mk file, write code into it, execute
-- text editors - sublime etc
-- hinting at terminal - more of later ...

- introducing repl.it.
-- what it does ...
-- simulates code environment --
let us get started quickly.
-- intro below ...

- vid // explanation ...
</p>


<!--
writing process
-- churn / chunder sth out
understanding what you actually want to say clarifying that
- write again - relatively quickly again, chruning it out
- edit once, twice, maybe three times ...
-->

<!--
Normally the standard way to write and execute a program on your computer is to create a program file
on the Operating system that you are using, which at the time of writing (A.D. 2018) will probably be a version of Windows, MacOS or Linux, then write code into that program file and finally instruct your Operating system
and thereby your computer (the literal machine) to execute that . To create a program file and
write into it we normally use what's called a "Text Editor", which are applications that you install and use, much like
let's say Microsoft Excel or Word or your Webbrowser. There is a variety of commonly used Text-editors around. Sublime-Text and Atom would be two Examples, older one that are well-established in the programming community and often evoke almost religious sort of debates are Vim and Emacs. For our humble beginnings I plainly recommend Sublime Text.
It's unlikely that you'll want to do things in the forseeable that Sublime Text doesn't do sufficiently well. Maybe eventually you want to "graduate" to Vim and Emacs, but that's by no means necessary. These Text-Editors usually also have a function that allows you to execute the program that you are writing on your machine. 
<br> <br>
The other common way to make your computer execute your programs is via what's called the "Terminal". That's the thing that you can see "Hackers" use in "Hacker movies". What the terminal really is is a text-based
interface to your Operating System and computer. Normally you give instrcutions to your computer by using a Graphical User interface (GUI). You use the mouse and click in places and sometimes you use keyboard shortcuts etc. to essentially tell your machine what to do. The Terminal in contrast let's you type out explicit commands. "Reboot" for instance would be a terminal command for rebooting your Operating System. Giving this command in your Terminal is essentially the same as clicking the reboot button with your mouse. Both ways of doing things, translate to instruction to the machine to - well, reboot. Historically terminals were own stand-alone machine in their own right, today they are application that came with your Operating System. So all you need to do to use them is find them on Windows/MacOS/Linux open them and you canuse them. On MacOS the terminal application is called "Terminal", on Windows it's called "Powershell" I believe.
-->
