<h3 id="lesson_title"> Project Start </h3>
<p>
In my experience the topics we've covered so far constitute the minimum that one would need to know to start work on a small project. And that's what we're going to try now. We're going to use our next 1-on-1 session to go through the initial stage of our first coding project, which is pretty much the same for any coding project - coming up with an idea for something we want to build and considering in a little detail how we may go about doing so.
</p>
