<h3 id="lesson_title"> Setup </h3>
<p>
	repl.it first. then description of local process.
	<br> <br>
	Practically, here is how we do these 2 things.
	- we write a program by creating a file on our operating system (using .py in the end - this, I believe,
	is necessary on Windows but not necessary on MacOS and Linux) and then, having created our as for now empty progrm
	file, we use a text editor to write code into that file. There are many different Text-editors around, and which
	one is the best is a hotly debated topic. I erpsonally woudl strongly recommend sublime text, which
	you can download and install here. Now we open our program files in sublime text and write code into it
	<br> <br>
	(( video good here ))
	<br> <br>
	Now, when we have written some code, we may want to do the second step and let our computer
	execute it. We want to run the program that is. There are several ways. In sublime text you can hit ctrl+b,
	or click on ... .
	<br> <br>
	Alternatively you can use the command line. On Windoes you open the command line by ... .
	On MacOS you open the command line by ... . On Windows you the navigate to your directory by ... .
	On MacOS you the navigate to your directory by ... . On Windows you then run your programm by ... .
	On MacOS you then run your programm by ... .
	<br> <br>
	in the last step you invoke Python. It is analogeous to telling your computer that
	it should now pass this file to Python for processing, Python does its thing, processes your code
	and then passes machine code instructions to the CPU for execution.
	<br> <br>
	Meaning the 2 things you need to have install ared are a text editor (sublime text for instance)
	and Python itself.
	<br> <br>
	Currently there is a bit of drama in the Python world between Python 2 and Python 3. The short answer is -
	get Python 3. Support for Python 2 is scheudled to be terminated in 2020. You dont want to be in a sinking boat.
	<br> <br>
	Alternatively to doing all this, we can use a webapplicaiton called repl.it.
	GO to their site, sign up and in the first drop down menu you will see Python, click Python.
	What repl.it does is that it replicates a "Python development environment" which is fancy-speak
	for a "place". IN the middle bit you can write Python code, you can hit the run button in the top bit and on the right side you will see the "output" that will be the result of running your programm. On the left side, repl.it simulated files and directories. In a nutshell, repl.it lets you preted you are on your machine, eventhough youre "just" using their website. And its very useful.
</p>
