
<p>
	Python programming - 2 - Programming - The fundamental Job <br>
	<br> <br>
	The fundamental job <br>
	When it comes to the practice of programming, and this may sounds a little too obvious,
	what we always do in principle is - we write a program. And then we run the program.
	When we write the program, what we do is essentially defining what the computer - the machine in fron of you -
	should do, when that program "gets run". We're defining an instruction set so to speak. 
	And we do this using a programming language of our choice.
	When we run the program, we essetianlly tell the computer that we've finished defining the
	instructions that it should execute and that it should now have a go and set about executing them.
	All programming fundamentally follows this pattern. This is what we programmers do in the same way that what pianists do is hit buttons on a relatively large instrument to generate a sequence of sounds that will be transmitted through air.
</p>
