<h3 id="lesson_title"> Programming Languages </h3>
<p>
	As you probably know there are a bunch of programming lanugages around.
	You may have heared of C or C++, Ruby, Perl, Java or Javascript and so forth.
	And of course of Python. In actuality there are many, many more programming languages in existance.
	<br> <br>
	That is because programming languages are themselves pieces of software that
	programmers can create if they decide to do so. And apparently many have decided to create programming languages.
	In our case of Python - Python has been created by Guido von Rossum in 1990. It's name is a reference to Monty Python -
	specifically the lightheartedness of it.
	<br> <br>
	Programming languages then are the pieces of software that we use to create other pieces of software.
	<br> <br>
	This begs the question what programmers of programming languages use to programme those languages.
	This is an entire topic in itself and if you're interested ask me. In some sense however you don't really need
	to know this. I mean this in the same sense an architect for instance doesn't necessarily need to know a huge amount about
	the material science of the glass that makes up the windows which he or she uses in the construction.
	<br> <br>
	Point being, as a programmer you are a user of the programming language of your choice and as such your 1st pirority is
	to understand what you can do with your tool. Understanding a great deal about how your tool itself works certainly doesn'
	hurt, but is not absolutely necessary - unless of course you want to become a programmer of programming languages. Then that is very much your business.
	<br> <br>

	Programming languages can differ quiet a lot, but there is also a lot of overlap between
	those that are very common. For instance all the concepts we'll learn for Python exist in the same
	way in Ruby or Perl for example. Other languages, like Ruby or Perl, may use different symbols to invoke the same functioanlities but the concepts are the same. That is why, once you solidly know one programming language it's a lot easier to learn a second one.
	<br> <br>

	Why Python? <br>
	The reason why I've chosen Python as the language to teach is because Python is used
	in almost all major fields of programming - data science and visualization, machine learning,
	robotics, security and so forth and so forth. Thus, independent what your interests are (or at some point will be).
	It is very unlikely that you will regret having learned Python. It's plainly the most intelligent language
	to start with if you don't yet know what you eventually want to use programming for.
</p>
