
<p>
	Python programming - 5 - Learning Python.
	<br> <br>
	Over the next lessons well cover the essential concepts of Python. This means we won't cover 100% of Python, but only those  concepts that are the important one's to start writing programmes - the essential core
	so to speak. The non-essential concepts you can pick up over time on demand should you wish to expand your horizon.
	If you master this essential core, you'll have the power of programming at your disposal.
	In my estimate there are about 12 concepts that make up this core. And by and large each "lesson" will deal with one of them. 
	<br> <br>
	Throughout the lessons I will try to related the different concepts to the way that they are actually
	used in programming, in the sense of explaining the purpose for which they are used. In my observation
	most courses dont do this very well. But not doing it is like showing a hammer to an alien but not explaining
	that you use the hammer to put nails in walls for instance. Its important to relate the tools - which the different
	concepts of a programming lanuage are - to the purpose for which they are deployed.
	<br> <br>
	I will however say that there is a limit to which I can do this, especially in the very beginning.
	So if I say "this is what in porgramming we call a string and it is a series of characters", trust
	that eventually those concepts unknow to you now will "fall into place" in the sense that it will be clear
	why they are important, what they are used for.
</p>
