<%= render "pages/header" %>

<div class="simple_page_container">

  <br>
  <h2> Mission </h2>
  <p>   
    MindYourNetwork is a lean software-as-a-service product for "entrepreneurs and doers" to support and fuel them in their critical networking and relationship management endeavours. To see how we accomplish this, 
    <%= link_to 'watch our two minute product tour.', product_tour_path, style: "text-decoration: underline;" %> <br>
  </p> <br>

  <h2> Oleg - Business Guy </h2>
  <%= image_tag "oleg.jpg" %>
  <p> Born in the Soviet Union, grew up in Germany, living in London. Working in finance, team-player, Karma-addict. Good at looking for trouble, better at finding solutions. MindYourNetwork is a brain-child that has been growing in my mind for years. I am an active Networker and enjoy the process of meeting  new people and keeping in touch with them. Moreover I believe that the most important opportunities in life will come from the people you know. We have designed MYN to support me in my "networking" endeavours and hope it will help you just like it helps me.
  </p> <br>


  <h2> Johannes - Development Guy </h2>
  <%= image_tag "johannes.jpg" %>
  <p>
	I'm the CTO of MindYourNetwork, the page you are on right now. That means that I do all the programming and development work around here. Despite my role I have never set foot in a Computer Science lecture, which is something I regret and am proud of at the same time. Instead my formal education is in Economics. I hold a BA in "Economics and Management" from the University of Oxford. The stuff with computers I mostly taught myself. Generally I have a wide range of interests and can pretty much be interested in anything as long as there's something to figure out. Right now I'm figuring out how to make MindYourNetwork great for you.
  </p> <br>

</div>