
<div class="simple_page_container">
  <br> <br> <br>
  <h2> 
    <%= link_to 'Proceed to - Facebook', "https://www.facebook.com/", target: "_blank", class: "header_btn" %> 
  </h2>
  <h2> <%= link_to 'Proceed to - Gmail', "https://mail.google.com", target: "_blank", class: "header_btn" %> </h2>
</div>
