<%= render "pages/header" %>

<div class="simple_page_container">
  <br>
  <h2> <%= link_to 'Facebook', "https://www.facebook.com/", target: "_blank", class: "header_btn" %> </h2> <br>
  <h2> <%= link_to 'Gmail', "https://mail.google.com", target: "_blank", class: "header_btn" %> </h2> <br>
  <h2> <%= link_to 'WhatApp (web-version)', "https://web.whatsapp.com/", target: "_blank", class: "header_btn" %> </h2> <br>
</div>
