<%= render "pages/header" %>

<div class="simple_page_container">

  <br> <br> <br>
  <h2> Six Weeks Free Trial </h2> <br>
  <!-- <h2> Then 2 Options</h2> <br> -->
  <!-- <h2> Basic Plan: $2.99/month </h2> <br> -->
  <h2> Then $4.99 / Month </h2> <br>
  
  <h4> The Free Trial does not prolong automatically. So there will be no surprise charges.</h4>
  <br> <br>
  <h2> Straightforward - like our product. </h2>

  <!--
  <h4> 
  	Basic and premium offer the same functions except that unlie basic premium offers
  	unlimited monitoring of contacts on social media.
  </h4>
  -->
</div>
