<%= render "pages/header" %>

<div class="simple_page_container">

  <br> <br>
  <h2> First 6 Weeks are Free</h2> <br>
  <h2> Then 2 Options</h2> <br>
  <h2> Basic Plan: $2.99/month </h2> <br>
  <h2> Premium Plan: $4.99/month </h2> <br> <br>
  <h4> The trial does not prolong automatically. So there will be no surprise charges.</h4>
  <!--
  <h4> 
  	Basic and premium offer the same functions except that unlie basic premium offers
  	unlimited monitoring of contacts on social media.
  </h4>
  -->
</div>
