<%= render "pages/header" %>

<div class="simple_page_container">
  <br>
  <h2> Watch how it works: </h2>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/mp3uoG6F3Rw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
