<%= render "pages/header" %>

<div class="simple_page_container">
  <br>
  <h2> Watch how it works: </h2>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/Z9-01xCqYaI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> <br> <br> <br>

	<h2> Read how it works: </h2>
	<p> Within MindYourNetwork 4 straightforward features work almost like background-processes that together take the shape of a “secretary in the background” who helps and supports you with the task of building and maintaining important relationships. These 4 features are: </p>

	<p> <strong> 1. Email-based Reminders </strong> that are dynamic and can repeatedly be deferred a day with just one click when they come in - for those times you “want to do the follow-up - but not right now” (which happens a good bit in our experience). </p>

	<p> <strong> 2. Messaging Templates </strong> that provide a basic structure for the most common types of conversation and can be edited quickly to suit your specific situation. </p>

	<p> <strong> 3. Social Media Monitoring </strong>which scans the social networks of your most important contacts and alerts you in case of message-worthy occurrences (birthdays, job changes, super-popular tweets or status updates etc). </p>

	<p> <strong> 4. Interval Setting </strong> that you can use to add rules in the form of “be in touch with Peter Thompson at least every 4 months”, which will then go on to generate appropriate notifications in due time. Using this feature you don’t have to worry about letting anyone fall through the cracks and avoid that moment when “it’s been too long”. </p> <br> <br>
</div>
