<div class="container-fluid">	
  <div class="central_container"> 		
  	<div id="middle_container" class="middle_container" style="text-align: center; width: 800px;">
		<br>
		<h1 class="name_title" style="margin-bottom: 32px;"> Thank you! </h1>
		<p>
			We are generating your page. <br>
			You will get an Email with a Link to it <br>
			within the next 24 hours.
		</p> <br>

		<p>
			All the Best, <br>
			Team Wordgates
		</p>

		<div class="powered_by"> WordGates | The Home of Writers </div>
  	</div>
  </div>
</div>

<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url("https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/29541105_835895776619070_3405668396287489204_n.jpg?_nc_cat=0&oh=66cdc4ffad4a5be35f9ccb9633201c8b&oe=5B3BE014") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	
</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
