<%= link_to "Back to Site", valerie_vaughn_path, id: "dashboard_link" %> 

<div class="container-fluid">
  <div class="central_container"> 		

  	<div class="left_side_container"> 		
  		<%= image_tag "valerie_vaughn.jpg", id: "profile_image" %>
  	</div>


  	<div id="middle_container" class="middle_container" style="width: 570px;">
  	
  		<% if notice %> <h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1> <% end %>

		<h1 class="name_title"> Author's Dashboard - Valerie Vaughn </h1>		
		<p style="background-color: #F5EFE6;"> Note: The posts on your site sync with your Medium every 24 hours. </p>

		<h3 class="title"> Choose your Features </h3>

		<!-- <h3 class="title"> Your Images </h3> -->

		<h3 class="title"> Your "About" </h3>

		<h3 class="title"> Your "Posts" </h3>

		<!-- write new post -->

		<!-- bottom -->
		<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
  	</div>
  </div>
</div>
