/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
	padding: 60px 0px 80px 225px;
}

.contact_name{
	display: inline;
	width: 190px;
}

.row_element{
	display: inline;
	margin-right: 28px;
}


a.button-linkedin {
	border-radius: 3px;
	box-shadow: 0 1px 1px #999;
	color: #fff;
	display: inline-block;
	margin: 0 20px 20px 0;
	margin: 0 2rem 2rem 0;
	padding: 7px 15px;
	text-align: center;
	width: 180px;
	text-decoration: none;
	font-size: 19px;

	background-color: #0073b2; /* fallback color */
	background: -moz-linear-gradient(top, #009cda, #0073b2);
	background: -webkit-linear-gradient(top, #009cda, #0073b2);
	border: 1px solid #0073b2;
	text-shadow: 0 -1px -1px #005486;
}

a.button-linkedin:hover {
	background-color: #009cda; /* fallback color */
	background: -moz-linear-gradient(top, #0073b2, #009cda);
	background: -ms-linear-gradient(top, #0073b2, #009cda);
	background: -webkit-linear-gradient(top, #0073b2, #009cda);
}
