body{
	background-color: #F5EFE6;
}

/* reinstate at appropriate point
.header{
	width: 100%;
	height: 60px;
	background-color: #F5EFE6;
	#dashboard_link{
		float: right;
		margin-top: 8px;
		margin-right: 12px;
		padding: 6px 30px;
		color: black;
		border: 1px solid black;
	}
}
*/

#dashboard_link{
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 8px 20px;
	background-color: #F5EFE6;
	text-decoration: underline;
	color: black;
	border: 1px solid black;
	-webkit-border-radius: 3px; 
  	-moz-border-radius: 3px; 
    border-radius: 3px;
}

.central_container{
	width: 836px;
	margin: 64px auto 75px auto;
	-webkit-border-radius: 5px; 
  	-moz-border-radius: 5px; 
    border-radius: 5px; 
	background-color: white;
	padding: 20px;
	overflow: auto;	
}

.page-header-johannes{
	background-color: white;
	width: 836px;
	margin: 0 auto;
	height: 45px;
	-webkit-border-radius: 0 0 5px 5px; 
  	-moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
	text-align: center;
	line-height: 2.32;
	a{
		font-size: 19px;
	}
}


.left_side_container{
	width: 220px;
	float: left;
	display: block;
	img{
		-webkit-border-radius: 4px; 
	  	-moz-border-radius: 4px; 
	    border-radius: 4px;
	}
}

.middle_container{
	width: 370px;
	padding-left: 6px;
	float: left;
}

.right_side_container{
	width: 200px;
	padding-left: 28px;
	float: left;
}

.functionality_container{
}

#profile_image{
	width: 202px;
	height: auto;
}

.post_title{
	font-size: 16px;
	cursor: pointer;
}

.post_title:hover{
	text-decoration: underline;
}

.post_excerpt{
	font-size: 12px;
	margin-bottom: 24px;	
}

.name_title{
	font-size: 34px;
	margin-bottom: 20px;
}

.title{
	font-size: 24px;
	margin-bottom: 20px;
}

.functionality_title{
	font-size: 18px;
	margin-bottom: 10px;
}

.powered_by{
	font-size: 16px;	
	color: grey;
	text-align: center;
	margin-top: 45px;
}

.powered_by_dashboard{
	font-size: 15px;	
	color: grey;
	margin-top: 45px;
}


/* individual posts */

.post{
	display: none;
	width: 370px;
	padding-left: 6px;
	float: left;
}

.piece_header{
	padding-top: 20px;
	margin-bottom: 24px;
}

.go_back_btn{
	cursor: pointer; 
	font-size: 20px;
	padding-top: 10px;
}




/*
	.container_of_page{
	  width: 474px;
	  margin: 0px auto;
	  background-color: white;
	  position: relative;
	  padding: 0px 22px 8px 22px;
	}

	h1{
		font-size: 26px;
		font-weight: bold;
		padding-bottom: 9px;
		padding-top: 10px;
		margin-top: 75px;
		margin-bottom: 14px;
		border-bottom: 1px solid #eee;}

	p{
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: 16px;}

	#my_email:hover{
		text-decoration: underline;
	}

	.right_ctn{
		position: absolute;
    	right: -200px;
    	top: 0px;
    	width: 200px;
   	    background-color: white;
	}
	

	.the_get_page_btn{
		position: fixed;
		top: 12px;
		right: 12px;
		width: 138px;
		height: 59px;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		border: 1px solid lightGrey;
		background-color: #FFE9AF;
		padding: 8px;
	}

	.get_page_btn{
		width: 85%;
		margin-left: 12px;
		margin-bottom: 5px;
		cursor: pointer;
		padding: 15px 15px;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		background-color: white;
	}

	.mini_slogan{
		margin-left: 11px;
		font-size: 13px;
	}

	.left_ctn{
		position: absolute;
    	left: -202px;
    	top: 0px;		
	}

	img{
		margin: 15px 10% 15px 10%;
		border: 1px solid #9F9F9F;
		margin-bottom: 26px;
		width: 202px;
		height: auto;
		margin: 0;}

	h3{
		margin: 0 0 8px 0;
		padding: 0;
	}

	.email_ctn{
		padding: 8px 25px 14px 12px;
		background-color: #F1F1F1;
		margin: 30px 0px 32px 0px;
	}

	.title_of_work{
		cursor: pointer;
		font-size: 14px;
	}

	.title_of_work:hover{
		text-decoration: underline;
	}

	.piece_of_work{
		display: none;
	}

	.piece_header{
		padding-top: 8px;
	}



	#get_page_like_this{
		display: none;
	}

	.my_page_footer{
		width: 100%;
		text-align: center;
		height: 40px;
		line-height: 2.8;
		margin-top: 40px;
		background: #F1F1F1;		
	}

*/