<!DOCTYPE html>
<html>
  <head>
    <title>Gl6</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>



<!--

- after login - redirect to that persons account..

- show all that users contacts on acc pg
- login protect in right place..

-->
