<!DOCTYPE html>
<html>
  <head>
    <title>myn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


<!--
	- insanely rudimentary style
    - padding
    - linkedin btn

  - reminder setting

  - dynamic this_month and interval setting in interface (conversion into form)
-->
