<!DOCTYPE html>
<html>
  <head>
    <title>myn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


<!--
  - ajax submits
    - recall - how to implement ajax in rails 
    - add remote - true to form
    - adjust respond_to block in controller action
    - create js scribt appropriately named in the appropriate place
    - do (maybe add appropriate javascript in that place)
-->
